# Jira API credentials
# Rename this file to .env and fill in your Jira credentials
JIRA_EMAIL=adam.mior@getmysa.com
JIRA_API_TOKEN=ATATT3xFfGF0d21KQ4i5h37WPuE7j2V2in3MYqtwelpamS0qarXZY0MCyk6pT1mNrmShqI1Exo3cSbkqxE3UDkmbwqjpNZgVjIMPZm6pWhykX2lS31dB7ISwNXkMsps5vwCmJSWCWWwyC3W4yydvHhizGV7umTPqHIO7vS2cy1MhIQocgQ68bGk=E44C5622

# Jira domain is already set in the code as 'empoweredhomes.atlassian.net'
